.TrackMessageNotification__content--opennotification-bottom {
    animation: openMssgBottom 0.5s ease-out forwards
}

.TrackMessageNotification__content--closenotification-bottom {
    animation: closeMssgBottom 1s ease-out forwards;
}

.TrackMessageNotification__content--opennotification-top {
    animation: openMssgTop 0.5s ease-out forwards
}

.TrackMessageNotification__content--closenotification-top {
    animation: closeMssgTop 1s ease-out forwards;
}

.TrackMessageNotification {
    font-size: 14px;
    padding: 0.5em 0 0.5em 0;
    position: fixed;
    text-align: center;
    margin: 0;
    z-index: 500;
    box-sizing: border-box;
    p{
        display: inline;
        font-family: Arial;
        padding-right: 0.5em;
        margin: 0;
    }
    .TrackMessageCookieNotification__inline--btn {
        -webkit-border-radius: 9;
        -moz-border-radius: 9;
        border-radius: 2px;
        font-family: Helvetica;
        font-size: 10px;
        text-align: center;
        padding: 4px 7px 4px 7px;
        text-decoration: none;
        cursor: pointer;
        transition-duration: .3s;
        display: inline;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.19);
        &:hover {
            box-shadow: 0 16px 30px rgba(0,0,0,0.30), 0 10px 10px rgba(0,0,0,0.25);
        }
    }
}

@keyframes openMssgTop {
    0% {
        opacity: 0.4;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes closeMssgTop {
    0% {
        opacity: 1;
        transform: translateY(0%);
    }

    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}

@keyframes openMssgBottom {
    0% {
        opacity: 0.4;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes closeMssgBottom {
    0% {
        opacity: 1;
        transform: translateY(0%);
    }
    100% {
        opacity: 0;
        transform: translateY(100%);
    }
}
