/** ----------------------- ANIMATIONS ------------------------------------------------*/
/** ------------------- FADE SLIDE EFFECT */
.TrackMessageNotification__content_fade-slide--opennotification-top {
  animation: fadeSlideOpenMssgTop 0.5s ease-out forwards; }

.TrackMessageNotification__content_fade-slide--closenotification-top {
  animation: fadeSlideCloseMssgTop 1s ease-out forwards; }

.TrackMessageNotification__content_fade-slide--opennotification-bottom {
  animation: fadeSlideOpenMssgBottom 0.5s ease-out forwards; }

.TrackMessageNotification__content_fade-slide--closenotification-bottom {
  animation: fadeSlideCloseMssgBottom 1s ease-out forwards; }

/** ----------------------- SLIDE EFFECT */
.TrackMessageNotification__content_slide--opennotification-top {
  animation: slideOpenMssgTop 0.5s ease-out forwards; }

.TrackMessageNotification__content_slide--closenotification-top {
  animation: slideCloseMssgTop 0.5s ease-out forwards; }

.TrackMessageNotification__content_slide--opennotification-bottom {
  animation: slideOpenMssgBottom 0.5s ease-out forwards; }

.TrackMessageNotification__content_slide--closenotification-bottom {
  animation: slideCloseMssgBottom 1s ease-out forwards; }

/** ----------------------- FADE EFFECT */
.TrackMessageNotification__content_fade--opennotification {
  animation: fadeOpenMssgTop 0.5s ease-out forwards; }

.TrackMessageNotification__content_fade--closenotification {
  animation: fadeCloseMssgTop 1s ease-out forwards; }

/** ------------------------ NONE EFFECT */
.TrackMessageNotification__content--closenotification {
  display: none; }

/** ------------------------------------------------------------------------------ */
/** ----------------------------- POSITIONS ----------------------------------------------------- */
.TrackMessageNotification__content--top {
  top: 0;
  left: 0;
  right: 0; }

.TrackMessageNotification__content--top-left {
  left: 20px;
  top: 6%;
  width: 300px; }

.TrackMessageNotification__content--top-right {
  right: 20px;
  top: 6%;
  width: 300px; }

.TrackMessageNotification__content--bottom {
  bottom: 0;
  left: 0;
  right: 0; }

.TrackMessageNotification__content--bottom-left {
  left: 20px;
  bottom: 6%;
  width: 300px; }

.TrackMessageNotification__content--bottom-right {
  right: 20px;
  bottom: 6%;
  width: 300px; }

/** --------------------------------------------------------------------------------------------  */
.TrackMessageNotification {
  font-size: 14px;
  padding: 0.5em 0 0.5em 0;
  position: fixed;
  text-align: center;
  margin: 0;
  z-index: 500;
  box-sizing: border-box; }
  .TrackMessageNotification p {
    display: inline;
    font-family: Arial;
    padding-right: 0.5em;
    margin: 0; }
  .TrackMessageNotification .TrackMessageCookieNotification__inline--btn {
    -webkit-border-radius: 9;
    -moz-border-radius: 9;
    border-radius: 2px;
    font-family: Helvetica;
    font-size: 10px;
    text-align: center;
    padding: 4px 7px 4px 7px;
    text-decoration: none;
    cursor: pointer;
    transition-duration: .3s;
    display: inline;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.19); }
    .TrackMessageNotification .TrackMessageCookieNotification__inline--btn:hover {
      box-shadow: 0 16px 30px rgba(0, 0, 0, 0.3), 0 10px 10px rgba(0, 0, 0, 0.25); }

/** ------------ FADE SLIDE EFFECT ------------------------------------------ */
@keyframes fadeSlideOpenMssgTop {
  0% {
    opacity: 0.4;
    transform: translateY(-100%); }
  100% {
    opacity: 1;
    transform: translateY(0%); } }
@keyframes fadeSlideOpenMssgBottom {
  0% {
    opacity: 0.4;
    transform: translateY(100%); }
  100% {
    opacity: 1;
    transform: translateY(0%); } }
@keyframes fadeSlideCloseMssgTop {
  0% {
    opacity: 1;
    transform: translateY(0%); }
  100% {
    opacity: 0;
    transform: translateY(-100%); } }
@keyframes fadeSlideCloseMssgBottom {
  0% {
    opacity: 1;
    transform: translateY(0%); }
  100% {
    opacity: 0;
    transform: translateY(100%); } }
/** ------------------------------------------------------------------------------------ */
/** ---------------  SLIDE EFFECT ---------------------------------------------*/
@keyframes slideOpenMssgTop {
  0% {
    transform: translateY(-100%); }
  100% {
    transform: translateY(0%); } }
@keyframes slideOpenMssgBottom {
  0% {
    transform: translateY(100%); }
  100% {
    transform: translateY(0%); } }
@keyframes slideCloseMssgTop {
  0% {
    transform: translateY(0%); }
  100% {
    transform: translateY(-100%); } }
@keyframes slideCloseMssgBottom {
  0% {
    transform: translateY(0%); }
  100% {
    transform: translateY(100%); } }
/** ----------------------------------------------------------------------------- */
/** ---------------  FADE EFFECT ---------------------------------------------*/
@keyframes fadeOpenMssgTop {
  0% {
    opacity: 0.4; }
  100% {
    opacity: 1; } }
@keyframes fadeOpenMssgBottom {
  0% {
    opacity: 0.4; }
  100% {
    opacity: 1; } }
@keyframes fadeCloseMssgTop {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fadeCloseMssgBottom {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
/** ----------------------------------------------------------------------------- */

/*# sourceMappingURL=track_message.css.map */
