/* The Modal (background) */

.TrackMessageModal__content--openmodal {
    animation: openModal 0.4s ease-out forwards;
}

.TrackMessageModal__content--closemodal {
    animation: closeModal 1s ease-out forwards;
}

.TrackMessageModal {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .5);
    .TrackMessageModal__content {
        position: fixed;
        z-index: 200;
        box-shadow: 0 2px 2px #ccc;
        background-color: #fff;
        text-align: center;
        box-sizing: border-box;
        top: 20%;
        left: 20%;
        width: 60%;
        transition: all 0.3s ease-out;
        .TrackMessageModal__content--header {
            padding: 2px 16px;
            background-color: #5cb85c;
            color: #fff;
            line-height: 2em;
        }
        .TrackMessageModal__content--body {
            padding: 2px 16px;
            font-size: 22px;
            line-height: 4em;
            p {
                width: 90%;
                margin: auto auto;
            }
        }
        .TrackMessageModal__content--footer {
            padding: 2px 16px;
            background-color: #5cb85c;
            color: #fff;
            .TrackMessageModal__content--footer-close {
                padding: 2px 16px;
                background-color: #fff;
                border-radius: 2px;
                border-style: none;
                display: inline-block;
                cursor: pointer;
                color: #5cb85c;
                font-family: Arial;
                font-size: 20px;
                text-decoration: none;
                transition-duration: .6s;
                line-height: 2em;
                &:focus {
                    color: #000;
                    text-decoration: none;
                    cursor: pointer;
                    background-color: #5cb85c;
                }
                &:hover {
                    color: #000;
                    text-decoration: none;
                    cursor: pointer;
                    background-color: #5cb85c;
                }
            }
        }
    }
}

/* Add Animation */

@keyframes openModal {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    50% {
        opacity: 1;
        transform: translateY(90%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes closeModal {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    50% {
        opacity: 0.8;
        transform: translateY(60%);
    }
    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}
