# -- SASS CACHÉ ---------------------------
/opt/lampp/htdocs/wordpress/wp-content/plugins/track-message/css/.sass-cache

#-- RUBY VERSION ---------------------------
/opt/lampp/htdocs/wordpress/wp-content/plugins/track-message/.ruby-version
